.title {
    text-align: center;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.onion {
    color: yellow;
    background-color:black
}

.bread {
    color:white;
    background-color: green;
}

.lasagna {
    color:red;
    background-color: yellow;
}

h2 {
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 18px;
}